#green-line{
    transform: scale(0.76) translateX(-40px) translateY(100px);
  }
  #purple-line{
    transform: scale(0.74) translateX(-40px) translateY(70px);
  }
    
.container{
    transform: translateY(-50px);
    margin-bottom: -130px;
    z-index: -1;
  }
  
  /* GENERAL */
:root{
  --sidebar-width: 250px;
}

img{
    width: 100%;
}
 h2{
    font-size: larger;
    margin-top: 7%;
  }
  p{
    margin-top: 2%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 0.9rem;
    color: white;
    line-height:1.5rem;
  }
  i{
    box-shadow: 0 0 5px #232323;
  }
  body{
  background: #353535;
}
h1, h2{
    color: #36EAB7;
    font-family: Articulat CF;
    font-style: normal;
    font-weight: 800;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    

  }
  h1{
    text-align: center;
    font-size: xx-large;
    /* margin-top:2%; */
  }
 .clicked {
    color: #21DEA8;
  }
  