.row {
    margin-top: 5%;
}
#green-line{
    transform: scale(0.76) translateX(-40px) translateY(100px);
  }
  #purple-line{
    transform: scale(0.74) translateX(-40px) translateY(70px);
  }
    
.container{
    transform: translateY(-50px);
    margin-bottom: -130px;
    z-index: -1;
  }
  