html{
    overflow-x: hidden;
    
}
body{
    background-color: black;
}
.navbar-header{
    margin-left:5px;
    width:100%;
}
.logo{
    margin-left: 15px;
    height: 10px;
}
.navbar{
    color: black;
    background-color: #FBF9F8;
    font-size: medium;
    font-weight: bold;
    margin: 0.5% 1%;
    margin-top: 0%;
}
.btn{
    margin: 10px; 
    width: 25%; 
    line-height: 150px;
}
.row {
    margin-top: 5%;
    height: 200px;
}
.banner{
}
