.text-box{
    background: #444444;
    box-shadow: 4px 4px 4px 5px rgba(0, 0, 0, 0.25);
    /* margin-right: 0%; */
    padding: 2%;
    width: 50%;
    float: right;
    overflow: hidden;
}

.text-box p{
    font-family: Avenir LT Std;
    font-style: normal;
    font-weight: 350;
    font-size: 30px;
    line-height: 36px;
    text-align: right;

    color: #FFFFFF;
}
#line-draw{
  /* margin-bottom: -100%; */
  /* margin-top: -52%; */
  /* position: absolute; */
}

#tb-1{
  margin-right: 5%;
  width: 40%;
}
#tb-2{
  /* margin-left: 5%; */
  width:47.5%;
}

#computer-pic{
  width: 50%;
  float: left;
}

#landingContent{
  
  position: relative;

}

#landingContent > .wrapper{
  padding: 5% 2%;
  /* margin-top: 5%; */
  overflow: hidden;
}

#backgroundSvg{
  /* width:100%;
  z-index: -1;
  margin-top: -52%;
  position: absolute; */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: -1;
  margin-top: -52%;
}

img{
    width: 100%;
}
 h2{
    font-size: larger;
    margin-top: 7%;
  }
  p{
    margin-top: 2%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 0.9rem;
    color: white;
    line-height:1.5rem;
  }
  i{
    box-shadow: 0 0 5px #232323;
  }
  body{
  background: #353535;
}
h1, h2{
    color: #36EAB7;
    font-family: Articulat CF;
    font-style: normal;
    font-weight: 800;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    

  }
  h1{
    text-align: center;
    font-size: xx-large;
    /* margin-top:2%; */
  }
 .clicked {
    color: #21DEA8;
  }