.text-box{
    background: #444444;
    box-shadow: 4px 4px 4px 5px rgba(0, 0, 0, 0.25);
}

.text-box p{
    font-family: Avenir LT Std;
    font-style: normal;
    font-weight: 350;
    font-size: 30px;
    line-height: 36px;
    text-align: right;

    color: #FFFFFF;
}