:root{
  --sidebar-width: 250px;
}

.navbar-header{
    margin-left:5px;
    width:100%;
}
.logo{
    margin-left: 10%;
}
* 
body{
  /* display: flex; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #353535;
}
.navbar{
    margin-top: 16px;
    background-color: #191919;
}
.btn{
    margin: 10px; 
    width: 25%; 
    line-height: 150px; 
}
/* .row {
    margin-top: 5%;
    height: 200px;
} */
img{
    width: 100%;
}

.banner{
  margin-top: 50px;
  /* margin-bottom: -50px; */
}
#banner-shadow{
  margin-top: -180px;
}

.nav-link {
    color: white!important;
    font-family: Articulat CF;
    font-style: normal;
    font-weight: bold;
    font-size: 90%;
    line-height: 27px;
    text-transform: capitalize;
    }
.dropdown .dropdown-menu{
    background-color: #363636;
    outline: black;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}
.dropdown .dropdown-menu a{
    color: white;
}
.dropdown .dropdown-menu a:hover
{
  color: #35eab7;
  background-color: #555;
  outline: black;
}

.dropdown-toggle::after {
    color: #35EAB7;
}
.underBanner{
    width: 100%;
    margin: 0;
}
.nav-item{
    margin-right: 1%;
}
.navbar-nav {
    padding-right: 5%;
}
.contentBlock{
    background-color: #444444;
    padding: 10%;
    box-shadow: 0 0 15px #232323;
}
#projectComponent{
    margin: 1% 5%;
}
#navbar .dropdown-menu-left{
    left:auto;
    right:0;
    margin-right:-10px;
}


#green-line{
  transform: scale(0.76) translateX(-40px) translateY(100px);
}
#purple-line{
  transform: scale(0.74) translateX(-40px) translateY(70px);
}

.container{
  transform: translateY(-50px);
  margin-bottom: -130px;
  z-index: -1;
}

  h1, h2{
    color: #21DEA8;
    font-family: Articulat CF;
    font-style: normal;
    font-weight: 800;
  }
  h1{
    text-align: center;
    font-size: xx-large;
    margin-top:2%;
  }
  .top-h1{
    margin-top:0%;
  }
  h2{
    font-size: medium;
    margin-top: 3%;
  }
  p{
    margin-top: 3%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: small;
    color: white;
  }
  i{
    box-shadow: 0 0 5px #232323;
  }

 .picture-top{
   margin-bottom: 3%;
 }

 /* CONTENT */
 #projectComponent{
   padding-bottom: 20rem;
 }
 #projectComponent .accordion{
  margin-left: var(--sidebar-width, 200px);
 }
 #projectComponent .accordion-item, #projectComponent .accordion-button{
    background-color:#21DEA8;
    color: white;
    font-family: Articulat CF;
    border: none;
    font-size: x-large;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 600;
    text-transform: uppercase;
    line-height: 2rem;
    margin: 1rem;
    outline: transparent;
}
#projectComponent .accordion-body{
  background-color: #E5E5E5;
  outline: transparent;
  padding: 2rem 5rem;
}
#projectComponent .accordion-button:focus{
 outline: none;
 box-shadow: none;
}
#projectComponent .accordion-button.collapsed::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

#projectComponent .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
#projectComponent .accordion-body h1{
  text-align: left;
  color: #884EFA;
  text-shadow: none;
  font-size: 1.5rem;

}
#projectComponent .accordion-body p{
  color: #353535;
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  text-shadow: none;
  text-transform: none;
  padding-bottom: 2rem;
}