
.sidebar {
    margin: 0;
    padding: 0;
    width: var(--sidebar-width, 250px);
    position: absolute;
    height: 100%;
    overflow: hidden;
  }
  

  .sidebar a {
    display: block;
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: #21dda7;
  }
  .sticky {
    position: fixed;
    /* display: hidden; */
    top: 0;
    padding-top: 125px;
  }
  .accordion-item, .sidebar-button{
    background-color: transparent; 
      color: white;
      border: none;
      font-size: medium;
  }
  .accordion-flush{
    margin-top: -80px;
    margin-left: 70px;
  }
  .sidebar-button{
    font-family: Articulat CF;
    font-size: large;
  }
  svg .progress-bar {
    stroke: url(#grad);
    transition: stroke-dashoffset 0 ease-in-out; 
    filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.2));
  }
  .complete{
    width: 230px;
    height: 200px; 
    z-index: 2;
    stroke: transparent; /*background stroke color*/
    stroke-width: 10px;
    /* stroke-linecap: round; */
    fill: transparent;
    position: sticky;
    /* margin-top: -75px; */
    transform: rotate(-90deg) translateX(100px) translateY(35px);
    transform-origin: center;
  }
  .inner-circle{
    stroke: #21dda7; /*background stroke color*/
    stroke-width: 1px;
  }
  .inner-circles{
    stroke: url(#grad1);
    stroke-width: 1px;
    border-top-right-radius:0;
    border-top-left-radius:0;
    border-bottom-right-radius:0;
    border-bottom-left-radius:100%;
  }
  #pct{
    color: transparent;
  }
  .pct{
    position: absolute;
    top: 4.5rem;
    left: 5.5rem;
    color: #21dda7 !important;
    font-family: Articulat CF;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 34px;
    text-align: center;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .container{
    transform: translateY(-50px);
    margin-bottom: -130px;
    z-index: -1;
  }