  :root{
    --sidebar-width: 250px;
    --pathLength: 1250;
  }
  /* #aLineId{
    display: none;
  } */
  .aLineAll{
    display: none;
  }
  #aCirId{
    opacity : 0;
  }
  .aCirAll{
    opacity: 0;
  }
  .aCirOp{
    opacity : 100;
  }
  .aCir{
    -webkit-animation-name: show;
    -o-animation-name: show;
    animation-name: show;
    animation-delay: 1s;
    /* display: block; */
    -webkit-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards
  }
  @keyframes show  {
    from{opacity : 0;}to{opacity: 1;}
  }
  .aCirHide{
    -webkit-animation-name: hide;
    -o-animation-name: hide;
    animation-name: hide;
    /* display: block; */
    -webkit-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards
  }
  @keyframes hide  {
    from{opacity : 1;}to{opacity: 0;}
  }
  .aLine{
        /* stroke-dasharray: 1250;
        stroke-dashoffset: 0; */
        -webkit-animation: lineGrowth 1s linear forwards;
        -o-animation: lineGrowth 1s linear forwards;
        -moz-animation: lineGrowth 1s linear forwards;
        animation: lineGrowth 1s linear forwards;
        /* animation-play-state: paused; */
    }

    @-webkit-keyframes lineGrowth{
        from{stroke-dashoffset: var(--pathLength);}to{stroke-dashoffset: 0;}
    }
  .aLineR{
      /* animation-delay: 0s; */
      /* stroke-dasharray: 1250;
      stroke-dashoffset: 0; */
      -webkit-animation: lineRev 1s linear forwards;
      -o-animation: lineRev 1s linear forwards;
      -moz-animation: lineRev 1s linear forwards;
      animation: lineRev 1s linear forwards;
      /* animation-play-state: paused; */
  }

    @-webkit-keyframes lineRev{
        from{stroke-dashoffset: 0;}to{stroke-dashoffset: var(--pathLength);}
    }
  .description-box-button{
    z-index: 1;
    margin: -2%;
    margin-top: -4%;
    display: block;
    /* width: 100%; */
    border: none;
    cursor: pointer;
    /* background: #333; */
    /* color: #fff; */
    text-align: left;
    transition: background 0.2s;
  }
  .description-box-button__active{
    /* background: #555; */
  }
  .description-box{
    overflow: hidden;
  }
  .description-content{
    overflow: hidden;
    /* max-height: 0; */
    transition: all 0.5s linear;
    /* transform-origin: top; */
    max-height: 0;
    padding: 0 12%;
    background: #232323;
  }
  .description-content-header{
    margin-left: -200px;
    margin-bottom: -20px;
    font-family: Articulat CF;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 50px;

    color: #21DEA8;
  }
  .description-content-paragraph{
    margin-top: 5%;
  }
  
  .description-box-img{
    transform: scale(0.78);
    margin-top: -5.5%;
    margin-left: 6.7%;
  }
  .description-box-innerline{
    margin-left: -10%;
    /* transform: scale(1.21); */
  }
  .wetlab-labelP1{
    width: 10%;
    position: absolute;
    right: 0%;
    z-index: 1;
    /* top:0; */
    margin-top: -10%;
  }
  .wetlab-labelP2{
    width: 30%;
    position: absolute;
    right: 12%;
    z-index: 1;
    /* top:0; */
    margin-top: 0%;
  }

  .svg-container-drylab{
    width: 59%;
    position: absolute;
    left: 12%;
    z-index: 1;
    /* top:0; */
    margin-top: -33%;
  }
  #line-svg-1{
    width: 17%;
    position: absolute;
    /* top: -34rem; */
    left: 10%;
    /* transform: scale(1.3); */
    /* display: inline-block; */
    z-index: 1;
    top:0;
    margin-top: -25%;
  }
  #line-svg-2{
    width: 35%;
    position: absolute;
    left: 15%;
    z-index: 1;
    top: 0;
    margin-top: -23%;
  }
  #line-svg-3{
    width: 55%;
    position: absolute;
    left: 15%;
    z-index: 1;
    top: 0;
    margin-top: -23.5%;
  }
  .portrait{
    z-index: 2;
  }
  .draw-in-line-wrapper{
    position: relative;

  }
  .wrapper{
    /* position:relative; */
  }

  .col-centered {
    /* float: none; */
    margin-right: auto;
    margin-left: auto;
  }
  .drylab-drop-div{
    display: table;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
    max-height: 1000px;
    overflow: hidden;
    padding-bottom: 0;
  }
  

  .navbar-header{
      margin-left:5px;
      width:100%;
  }
  .logo{
      margin-left: 10%;
  }
  body{
  
      background: #353535;
  }
  .navbar{
      margin-top: 16px;
      background-color: #191919;
  }
  /* .btn{
      margin: 10px; 
      width: 25%; 
      line-height: 150px;
  }
  .row {
      margin-top: 5%;
      height: 200px;
  } */
  img{
      width: 100%;
  }
  
  .banner{
    margin-top: 50px;
  }
  #banner-shadow{
    margin-top: -31px;
  }
  
  .nav-link {
      color: white!important;
      font-family: Articulat CF;
      font-style: normal;
      font-weight: bold;
      font-size: 90%;
      line-height: 27px;
      text-transform: capitalize;
      }
  .dropdown .dropdown-menu{
      background-color: #363636;
      outline: black;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
  }
  .dropdown .dropdown-menu a{
      color: white;
  }
  .dropdown .dropdown-menu a:hover
  {
    color: #35eab7;
    background-color: #555;
    outline: black;
  }
  
  .dropdown-toggle::after {
      color: #35EAB7;
  }
  .underBanner{
      width: 100%;
      margin: 0;
  }
  .nav-item{
      margin-right: 1%;
  }
  .navbar-nav {
      padding-right: 5%;
  }
  .contentBlock{
      background-color: #444444;
      padding: 10%;
      box-shadow: 0 0 15px #232323;
  }
  #projectComponent{
      margin: 1% 5%;
  }
  #navbar .dropdown-menu-left{
      left:auto;
      right:0;
      margin-right:-10px;
  }
  
  /* The side navigation menu */
  .sidebar {
      margin: 0;
      padding: 0;
      width: var(--sidebar-width, 200px);
      position: absolute;
      height: 100%;
      /* margin-left: calc(0.15 * var(--sidebar-width)); */
      overflow: hidden;
    }
    
    /* Sidebar links */
    .sidebar a {
      display: block;
      color: white;
      background-color: #353535;
      text-decoration: none;
    }
    
    /* Active/current link */
     a.active {
      color: #21DEA8;
    }
    
    /* Links on mouse-over */
    .sidebar a:hover:not(.active) {
      background-color: #555;
      color: #35eab7;
    }
    
    /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
    div.contentBlock {
      margin-left: var(--sidebar-width, 200px);
    }
    .sticky {
      position: fixed;
      /* display: hidden; */
      top: 0;
      padding-top: 125px;
    }
  
    .accordion-item, .sidebar-button{
      background-color: transparent; 
        color: white;
        border: none;
        font-size: medium;
    }
    .accordion-flush{
      margin-left: 90px;
    }
    .sidebar-button{
      font-family: Articulat CF;
      font-size: large;
    }
  
    /* .accordion button:active{
      color: #35eab7;
    } */
    .changeColor{
      font-weight: bold;
    }
    @media (max-width:638px) {
      .accordion-item{
        font-size:small;
      }
    }
    @media (max-width:464px) {
      .accordion-item{
        font-size:x-small;
      }
    }
  
    /* button:active {
      background: blue;
    }
     */
  
  #green-line{
    transform: scale(0.76) translateX(-40px) translateY(100px);
  }
  #purple-line{
    transform: scale(0.74) translateX(-40px) translateY(70px);
  }
  
  .line-1{
    transform: translateY(-50px);
    margin-bottom: -130px;
  }
  
  svg .progress-bar {
      stroke: url(#grad);
      transition: stroke-dashoffset 0 ease-in-out; 
      filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.2));
    }
    .complete{
      width: 230px;
      height: 200px; 
      z-index: 2;
      stroke: transparent; /*background stroke color*/
      stroke-width: 10px;
      /* stroke-linecap: round; */
      fill: transparent;
      position: sticky;
      /* margin-top: -75px; */
      transform: rotate(-90deg) translateX(100px) translateY(35px);
      transform-origin: center;
    }
    .inner-circle{
      stroke: #35eab7; /*background stroke color*/
      stroke-width: 1px;
    }
    .inner-circles{
      stroke: url(#grad1);
      stroke-width: 1px;
      border-top-right-radius:0;
      border-top-left-radius:0;
      border-bottom-right-radius:0;
      border-bottom-left-radius:100%;
    }
    #pct{
      color: transparent;
    }
    .pct{
      position: absolute;
      top: 4.5rem;
      left: 5.5rem;
      color: #35EAB7 !important;
      font-family: Articulat CF;
      font-style: normal;
      font-weight: 800;
      font-size: 20px;
      line-height: 34px;
      text-align: center;
  
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    h1, h2{
      color: #21DEA8;
      font-family: Articulat CF;
      font-style: normal;
      font-weight: 800;
    }
    h1{
      text-align: center;
      font-size: xx-large;
      margin-top:2%;
    }
    .top-h1{
      margin-top:0%;
    }
    h2{
      font-size: medium;
      margin-top: 3%;
    }
    p{
      margin-top: 3%;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-size: small;
      color: white;
    }
    i{
      box-shadow: 0 0 5px #232323;
    }

   /* .row{
     height: 0;
     padding: 0;
   }
   div{
     padding: 0;
   } */
   .picture-top{
     margin-bottom: 3%;
   }
  